<!DOCTYPE html>
<html>
<head>
    <title>CSV Upload</title>
</head>
<body>
    <form action="/uploadcsv/" method="post" enctype="multipart/form-data">
        <label for="file">Select a CSV file:</label>
        <input type="file" name="file" accept=".csv" required><br>

        <label for="name_col">Name Column:</label>
        <input type="number" name="name_col" required><br>

        <label for="age_col ">Age Column:</label>
        <input type="number" name="age_col" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
